{% extends "base.html" %}

{% block content %}
<section>
    <h2>Creación de nuevos usuarios</h2>
    <p>Introduce los datos solicitados y crea un nuevo usuario</p>

    <form action="/usuarios" method="post">
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Crear Usuario</button>
    </form>
</section>
{% endblock %}